.body {
    background:  #0079FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.left-box {
    width: 100px;
    height: 200px;
    background:  #FF0900;
    justify-self: left;
   flex-direction: row
}
.right-box {
    width: 100px;
    height: 200px;
    background:  #A800FF;
}

/* #bbCanvas {
    background: yellow; */
}

/* Name: Vivid Violet
Hex: #A800FF
RGB: (168, 0, 255)
CMYK: 0.341, 1, 0, 0

Name: Azure
Hex: #0079FF
RGB: (0, 121, 255)
CMYK: 1, 0.525, 0, 0

Name: Electric Green
Hex: #00F11D
RGB: (0, 241, 29)
CMYK: 1, 0, 0.879, 0.054

Name: Canary Yellow
Hex: #FFEF00
RGB: (255, 239, 0)
CMYK: 0, 0.062, 1, 0

Name: Orange(Color Wheel)
Hex: #FF7F00
RGB: (255, 127, 0)
CMYK: 0, 0.501, 1, 0

Name: Candy Apple Red
Hex: #FF0900
RGB: (255, 9, 0)
CMYK: 0, 0.964, 1, 0 */
