.body {
    /* background:  #0079FF; */
    /* background:  #00f400; */
    background: #abe1f88a;
    /* background-image: url("./lib/images/background.jpg"); */
    opacity: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin: auto; */
    overflow: hidden; 
}

* {
        padding: 0;
        margin: 0;
    }

.title {
    display: flex;
    margin: 20px auto 0px;
    font-size: 30px;
    /* color: #00f400; */
    color: #79d6ff;
    /* text-shadow: 2px 2px #00f400; */
    text-shadow: 2px 2px black;
    background: white;
    border: 1px solid black;
    padding: 5px;
}

.box {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    max-width: 550px;
}

canvas {
    background: white;
    display: block;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    background-image: url("./lib/images/background.jpg");
    opacity: 1.0;
    background-size: 650px 400px;
    height: 400px;
}


.links-box {
    margin: auto 5px auto auto;
    padding: 10px 5px;
    background: white;
    border: 1px solid black;
}

.links {
    font-size: 18px;
    text-decoration: none;
    /* color: #00f400; */
     color: #79d6ff;
    text-shadow: 2px 2px black;
    /* -webkit-text-stroke-width: 1.1px; */
    /* -webkit-text-stroke-color: black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: fantasy; */
    margin: 10px;
}
.get-in-touch {
    text-align: center;
    /* color: #00f400; */
    color: #79d6ff;
    /* text-shadow: 2px 2px black;  */
    margin-bottom: 10px;
     text-shadow: 1px 1px black;
}
.github {

}

.linkedin {
  
}

.directions-box {
    font-size: 18px;
    margin: auto auto auto 5px;
    padding: 12px 5px;
    background: white;
    border: 1px solid black;
    /* color: #00f400; */
     color: #79d6ff;
    text-shadow: 1px 1px black;
}

ol {
    padding: 10px 19px 10px 30px;
    font-family: garamond;
    /* font-weight: 600; */
}

/* Name: Vivid Violet
Hex: #A800FF
RGB: (168, 0, 255)
CMYK: 0.341, 1, 0, 0

Name: Azure
Hex: #0079FF
RGB: (0, 121, 255)
CMYK: 1, 0.525, 0, 0

Name: Electric Green
Hex: #00F11D
RGB: (0, 241, 29)
CMYK: 1, 0, 0.879, 0.054

Name: Canary Yellow
Hex: #FFEF00
RGB: (255, 239, 0)
CMYK: 0, 0.062, 1, 0

Name: Orange(Color Wheel)
Hex: #FF7F00
RGB: (255, 127, 0)
CMYK: 0, 0.501, 1, 0

Name: Candy Apple Red
Hex: #FF0900
RGB: (255, 9, 0)
CMYK: 0, 0.964, 1, 0 */
 