.body {
    /* background:  #0079FF; */
    background:  #00f400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow-y: hidden;
}

* {
        padding: 0;
        margin: 0;
    }

canvas {
    /* background: black; */
    background: white;
    display: block;
    margin: 55px auto 0 auto;
    /* border: 3px solid #0079FF; */
    /* border: 3px solid #dbdbdb; */
    border: 1px solid black;
    background-image: url("./lib/images/background.jpg");
    background-size: 650px 400px;
}

.box {
    display: flex;
    flex-direction: column;
    /* border: 3px solid #ebebeb; */
    border: 1px solid black;
    /* background: #cdecf9; */
    max-width: 410px;
    margin: 20px auto;
    background: white;
}

.links-box {
    margin-bottom: 20px;
    margin: auto;
    padding-top: 10px;
}

.links {
    font-size: 18px;
    text-decoration: none;
    color: #00f400;
    text-shadow: 2px 2px black;
    /* -webkit-text-stroke-width: 1.1px; */
    /* -webkit-text-stroke-color: black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: fantasy; */
    margin: 10px;
}
.github {

}

.linkedin {
   
}

.directions-box {
    margin: auto;
    color: #00f400;
    text-shadow: 1px 1px black;
}

ol {
    padding: 10px 25px 10px 44px;
    font-family: garamond;
    /* font-weight: 600; */
}

/* Name: Vivid Violet
Hex: #A800FF
RGB: (168, 0, 255)
CMYK: 0.341, 1, 0, 0

Name: Azure
Hex: #0079FF
RGB: (0, 121, 255)
CMYK: 1, 0.525, 0, 0

Name: Electric Green
Hex: #00F11D
RGB: (0, 241, 29)
CMYK: 1, 0, 0.879, 0.054

Name: Canary Yellow
Hex: #FFEF00
RGB: (255, 239, 0)
CMYK: 0, 0.062, 1, 0

Name: Orange(Color Wheel)
Hex: #FF7F00
RGB: (255, 127, 0)
CMYK: 0, 0.501, 1, 0

Name: Candy Apple Red
Hex: #FF0900
RGB: (255, 9, 0)
CMYK: 0, 0.964, 1, 0 */
